---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us - ITH">
	<main>
    <section class="p-5 bg-[#060606] text-white">
      <div class="container">
        <h1 class="mt-48 text-7xl text-center mb-10 font-u8">
          Ibadan Talent House
        </h1>
        <p class="text-center max-w-4xl mx-auto mb-40">
          Welcome to our tech talent house! We are a community driven non
          profit given to the purpose of training the next generation
          builders. The long term vision is to be an Entrepreneurial House
          from a Talent House in the next five years. We want to build a
          talent pipeline that can reach everyone. We are a leading provider
          of top-quality tech professionals. This project is founded on the
          belief that talented individuals are the cornerstone of any
          successful organization, and we are committed to helping people find
          the best talent to help them thrive. Our team is made up of talented
          individuals with a deep understanding of the tech industry. We take
          the time to understand their unique needs and goals, and we use our
          expertise to provide customized solutions that meet their specific
          requirements. At our tech talent company, we believe that people are
          our greatest asset. That's why we work hard to attract and retain
          those interested. We are committed to providing a supportive and
          collaborative work environment that encourages professional growth
          and development. We provide them with ongoing training and
          development opportunities to help them stay at the forefront of the
          latest technologies and trends. We are starting one baby step at a
          time by training people how to design websites, animation and data
          science. We hope to be able to train people in different skills as
          time goes by partnering with other non-profit and schools alike.
        </p>
      </div>
    </section>

    <section class="p-5 bg-[#0f0f0f] text-white">
      <div
        class="container flex flex-col md:flex-row justify-center md:justify-between items-center gap-10 my-20"
      >
        <div class="">
          <img
            src="../assets/images/Rectangle 38.png"
            alt=""
            class="h-[400px]"
          />
        </div>
        <div class="text-center max-w-md">
          <h1 class="font-u8 text-3xl mb-10">OUR MISSION</h1>
          <p>
            Our mission is to identify, train, develop talented individuals in
            tech. This mission involves; Identifying potential talent: The
            first step is to identify individuals with an interest and
            aptitude for technology. This may involve outreach to schools,
            colleges, and communities to attract a diverse pool of candidates.
            Providing training and development: Once talent is identified, the
            next step is to provide comprehensive training and development
            programs that equip them with the skills and knowledge needed for
            success in the technology industry. This involves provision of a
            suitable environment for learning, hands-on projects, and
            mentorship from experienced professionals.
          </p>
        </div>
      </div>
    </section>

    <section class="p-5 bg-[#0d0d0d] text-white">
      <div
        class="container flex flex-col-reverse md:flex-row justify-center md:justify-between items-center gap-10 my-20"
      >
        <div class="text-center max-w-md">
          <h1 class="font-u8 text-3xl mb-10">OUR VISION</h1>
          <p>
            To create a world where technology talent is abundant. We aim to
            build talented individuals who are not just money or profit
            oriented but goal oriented, people who dream big and build on
            massive ideas, people who are able to create solutions, make
            inventions, solve problems via technology. We aim to have a
            positive impact on society by creating opportunities for
            individuals to build fulfilling careers in technology, improving
            the quality of life of people via technology and impacting the
            world massively.
          </p>
        </div>
        <div class="">
          <img
            src="../assets/images/Rectangle 38.png"
            alt=""
            class="h-[400px]"
          />
        </div>
      </div>
    </section>

    <section class="p-5 bg-[#050505] text-white">
      <div
        class="container flex flex-col md:flex-row justify-center md:justify-between items-center gap-10 my-20"
      >
        <div class="">
          <img
            src="../assets/images/Rectangle 38.png"
            alt=""
            class="h-[400px]"
          />
        </div>
        <div class="text-center max-w-md">
          <h1 class="font-u8 text-3xl mb-10">OUR VALUES</h1>
          <p>
            Our main mission is to improve the talent pipeline. We will
            achieve this mission by training, research and building. We will
            also partner with foundations to train children in rural areas in
            Ibadan. We want to be the bridge to those without
          </p>
        </div>
      </div>
    </section>


	</main>
</Layout>

<script  src="../scripts/base.js"></script>

