<footer class="bg-tertiary text-white p-5">
  <div class="container my-10 pr-28">
    <div
      class="flex gap-10 justify-between mb-14 flex-wrap flex-col sm:flex-row"
    >
      <div>
        <div class="w-[150px]">
          <a href="/">
            <img src="/assets/images/logo.png" alt="logo" class="w-full" />
          </a>
        </div>
        <p class="ml-4 mb-3">Providing resources to people</p>
        <div class="flex gap-3 ml-4">
          <i class="fa-brands text-xl fa-x-twitter"></i>
          <i class="fa-brands text-xl fa-instagram"></i>
          <i class="fa-brands text-xl fa-linkedin"></i>
          <i class="fa-brands text-xl fa-youtube"></i>
        </div>
      </div>
      <div class="ml-4 sm:ml-0">
        <ul class="list-none flex flex-col gap-3">
          <li class="text-xl font-medium mb-1">Company</li>
          <li>
            <a href="#" class="hover:underline transition-normal"
              >About Us</a
            >
          </li>
          <li>
            <a href="#" class="hover:underline transition-normal"
              >What we do</a
            >
          </li>
          <li>
            <a href="/faqs" class="hover:underline transition-normal"
              >FAQs</a
            >
          </li>
        </ul>
      </div>
      <div class="ml-4 sm:ml-0">
        <ul class="list-none flex flex-col gap-5">
          <ol>
            <li class="text-xl font-medium mb-3">Address</li>
            <li>Bodija, Ibadan, Nigeria.</li>
          </ol>
          <ol>
            <li class="text-xl font-medium mb-3">Contact</li>
            <li class="mb-3">
              <a href="#" class="hover:underline transition-normal"
                >ithproject@gmail.com</a
              >
            </li>
            <li>
              <a href="#" class="hover:underline transition-normal"
                >+234 800 2232 222</a
              >
            </li>
          </ol>
        </ul>
      </div>
    </div>
    <p class="sm:text-center ml-4 sm:ml-0">
      &copy; 2023 Ibadan Talent House. All rights reserved.
    </p>
  </div>
</footer>