<header
      class="px-7 w-full fixed top-0 left-0 z-50 header text-[13px] leading-[13px]"
    >
      <div class="container flex justify-between items-center gap-5">
        <div class="w-[150px]">
          <a href="/">
            <img src="/assets/images/logo.png" alt="logo" class="w-full" />
          </a>
        </div>
        <nav class="lg:block hidden">
          <ul
            class="list-none flex justify-center items-center gap-12 text-white"
          >
            <li>
              <a
                href="/about/"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-white before:absolute before:h-[1px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >About us</a
              >
            </li>
            <li>
              <a
                href="/#whatwedo"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-white before:absolute before:h-[1px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >What we do</a
              >
            </li>
            <li>
              <a
                href="/contact/"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-white before:absolute before:h-[1px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >Contact Us</a
              >
            </li>
          </ul>
        </nav>
        <div class="lg:block hidden">
          <a
            href="/donate/"
            class="bg-white text-black rounded-[100px] px-14 py-3 border border-transparent text-sm"
            >Donate</a
          >
        </div>
        <div
          class="w-10 h-10 rounded-full bg-white flex items-center overflow-hidden cursor-pointer bar-toggler flex-col justify-center gap-[6px] navbar-toggler-icon lg:hidden relative z-50"
        >
          <div
            class="bar bar-1 w-[70%] h-[2px] bg-black hamburger-bar hamburger-bar-1 transition-normal"
          ></div>
          <div
            class="bar bar-2 w-[70%] h-[2px] bg-black hamburger-bar hamburger-bar-2 transition-normal"
          ></div>
        </div>
        <nav
          class="block lg:hidden mobile-nav fixed top-0 w-full left-[100%] h-screen transition-normal bg-black z-20"
        >
          <ul
            class="list-none flex justify-center items-center flex-col gap-12 h-screen text-xl text-white"
          >
            <li>
              <a
                href="/about/"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-black before:absolute before:h-[2px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >About us</a
              >
            </li>
            <li>
              <a
                href="/#whatwedo"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-black before:absolute before:h-[2px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >What we do</a
              >
            </li>
            <li>
              <a
                href="/contact/"
                class="pb-[2px] inline-block relative transition-normal overflow-hidden before:w-full before:bg-black before:absolute before:h-[2px] before:block before:left-0 before:bottom-0 before:scale-0 hover:before:scale-100 before:transition-all before:duration-300"
                >Contact Us</a
              >
            </li>
            <li>
              <a
                href="/donate/"
                class="bg-white text-black rounded-[100px] px-14 py-3 border border-transparent transition duration-300 hover:bg-transparent hover:text-black hover:border-black"
                >Donate</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>